<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
<!--    <key>NSAppleEventsUsageDescription</key>-->
<!--    <string>Recall needs automation access to read media playback information.</string>-->


<key>NSCalendarsUsageDescription</key>
<string>Recall needs access to your Calendar to sync and show events.</string>
<key>NSRemindersUsageDescription</key>
<string>Recall needs access to your Reminders to display and manage your tasks.</string>

</dict>
</plist>
